[Unit]
Description=Bruno Fontes script after wakeup
After=suspend.target
OnFailure=logErrors@%n.service

[Service]
Type=simple
ExecStart=/bin/sh /home/bruno/Apps/linuxShortcuts/Services/afterWakeUp.sh

[Install]
WantedBy=suspend.target
