[Unit]
Description=Backup contabo files once per week

[Timer]
#DayOfWeek Year-Month-Day Hour:Minute:Second
OnCalendar=*-*-* 11:03:00
Persistent=true
AccuracySec=1h

[Install]
WantedBy=timers.target
