[Unit]
Description=Backup contabo daily

[Timer]
Persistent=true
OnCalendar=*-*-* 10:15:00
WakeSystem=true
#DayOfWeek Year-Month-Day Hour:Minute:Second

[Install]
WantedBy=timers.target
