[Unit]
Description=Backup contabo db dayly

[Timer]
OnCalendar=*-*-* 11:00:00
Persistent=true
AccuracySec=1h
WakeSystem=true

[Install]
WantedBy=timers.target
