[Unit]
Description=Backup contabo db dayly

[Timer]
#DayOfWeek Year-Month-Day Hour:Minute:Second
OnCalendar=*-*-* 10:00:00
Persistent=true

[Install]
WantedBy=timers.target
