[Unit]
Description=Backup contabo files once per week

[Timer]
Persistent=true
OnCalendar=*-*-* 10:03:00
WakeSystem=true
#DayOfWeek Year-Month-Day Hour:Minute:Second

[Install]
WantedBy=timers.target
