[Unit]
Description=Backup joplin weekly
OnFailure=logErrors@%n.service

[Service]
User=bruno
ExecStart=/home/bruno/Apps/linuxShortcuts/Services/backup-joplin.sh
