[Unit]
Description=Bruno Fontes script before sleep
Before=sleep.target
OnFailure=logErrors@%n.service

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=echo ""

[Install]
WantedBy=sleep.target
