[Unit]
Description=Mailbox synchronization service
OnFailure=logErrors@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va
ExecStartPost=/home/bruno/dotfiles/mutt/notmuch-hook.sh
