[Unit]
Description=Mount Multimedia out of fstab

[Mount]
What=/dev/disk/by-label/Multimedia
Where=/run/media/bruno/Multimedia
Type=ntfs
Options=defaults

[Install]
WantedBy=multi-user.target

